/* Large desktops and laptops */
@media (max-width: 1400px) {
    html {
        font-size: 18px;
    }
    body .wrapper .pizza {
        flex-wrap: wrap;
    }
    .pizza__item .price-section .pizza-price {
        width: 100px;
        white-space: nowrap;
    }
}
